@import "tailwindcss";

@keyframes pulse-slow {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

@keyframes gradient-shift {
  0%, 100% {
    background-position: 0% 50%;
    background-size: 200% 200%;
  }
  50% {
    background-position: 100% 50%;
    background-size: 200% 200%;
  }
}

@keyframes gradient-shift-reverse {
  0%, 100% {
    background-position: 100% 50%;
    background-size: 250% 250%;
  }
  50% {
    background-position: 0% 50%;
    background-size: 250% 250%;
  }
}

.animate-pulse-slow {
  animation: pulse-slow 4s ease-in-out infinite;
}

.animate-gradient-shift {
  animation: gradient-shift 10s ease infinite;
}

.animate-gradient-shift-reverse {
  animation: gradient-shift-reverse 20s ease infinite;
}
